<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zychen.dao.AccountMapper">

    <select id="queryAccount" resultType="Account">
        select *
        from firstdemo.account
        where account = #{account};
    </select>

    <select id="queryAllAccount" resultType="Account">
        select *
        from firstdemo.account;
    </select>

    <insert id="addAccount" parameterType="Account">
        insert into firstdemo.account (account, pwd, money)
        values (#{account},#{pwd},#{money});
    </insert>

    <update id="updateMoney" >
        update firstdemo.account
        set money = money + #{addMoney}
        where account = #{account};
    </update>

    <update id="updatePassword" >
        update firstdemo.account
        set pwd = #{password}
        where account = #{account};
    </update>
</mapper>